@charset "utf-8";
/* CSS Document */





@font-face {
  font-family: 'south_gardens_personal_useRg';
  src: url('../fonts/south_gardens_personal_use-webfont.woff2') format('woff2'),
       url('../fonts/south_gardens_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
    font-family: 'preloblack';
    src: url('../fonts/prelo-black-webfont.woff2') format('woff2'),
         url('../fonts/prelo-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'prelobold';
    src: url('../fonts/prelo-bold-webfont.woff2') format('woff2'),
         url('../fonts/prelo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'prelobold_italic';
  src: url('../fonts/prelo-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/prelo-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'prelobook_italic';
  src: url('../fonts/prelo-book_italic-webfont.woff2') format('woff2'),
       url('../fonts/prelo-book_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'prelomedium_italic';
  src: url('../fonts/prelo-medium_italic-webfont.woff2') format('woff2'),
       url('../fonts/prelo-medium_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



@font-face {
    font-family: 'prelobook';
    src: url('../fonts/prelo-book-webfont.woff2') format('woff2'),
         url('../fonts/prelo-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'prelolight';
    src: url('../fonts/prelo-light-webfont.woff2') format('woff2'),
         url('../fonts/prelo-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'prelomedium';
    src: url('../fonts/prelo-medium-webfont.woff2') format('woff2'),
         url('../fonts/prelo-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; 
  /* height:100%; */
 }

/**/
html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  -webkit-overflow-scrolling: touch;
}
body {
	font-size: 14px;
	color: #222;
	font-family: 'prelobook' !important;
	letter-spacing: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*  Blockquotes */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* #Custom Css
================================================== */


a{ color: #1c58ce; }

.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }
.container {max-width: 1200px;}



/* ------------------------------------------------------------------------- */


.header-div{ padding: 0;margin: 0; background-color: #1E1E1E; width: 100%; z-index: 999;}
.cbp-af-header {position: absolute;top: 0px; max-height: 106px; height: 100%;}
.cbp-af-header-shrink {position: fixed;top: 0px;transform: translateZ(65px);animation: slide-down 0.9s;}
.header-div nav{ display: flex; justify-content: flex-end; width: 80%; height: 100%;}

.fest-icon-bar { display: flex; justify-content: center; align-items: center; align-content: center;height: 100%; margin-right: 30px;}
.fest-icon-bar a { display: flex; justify-content: center; align-items: center; color: rgba(255, 255, 255, .5);  color: rgb(255, 255, 255, .5); font-size: 14px; }
.fest-icon-bar a:hover {color: #fff;}
.fest-icon-bar a span {margin-left: 20px; text-transform: uppercase; }

.ullist-inline { padding: 0;margin: 0;display: flex; align-items: center; min-height: 45px;}
.ullist-inline li{ padding: 0;margin: 0;display: inline-block; padding: 10px 35px;text-transform: capitalize;font-size: 14px; }
.ullist-inline li a {color: rgba(255, 255, 255, .5);  color: rgb(255, 255, 255, .5); font-weight: 400; white-space: nowrap;  text-transform: uppercase;}
.ullist-inline li:hover a { color: #ffffff; font-weight: 400; opacity: 1;}
.ullist-inline li a.active{ color: #ffffff;font-weight: 400; }

.ullist-inline li.btn-signup { padding: 15px 23px; background-image: linear-gradient(135deg, #0374E2 0%, #03A9E2 100%); border-radius: 23px;}
.ullist-inline li.btn-signup a {font-size: 14px; font-weight: 800; color: #ffffff;}
.ullist-inline li.btn-signup.active {color:#ffffff; border-color:#0067cb;}
.ullist-inline li.btn-signup:hover {color: #ffffff; background-image: linear-gradient(135deg, #0361BD 0%, #0592C3 100%); transition: all 0.3s; cursor: pointer;}
.ullist-inline li:first-child {border-right: 1px solid rgb(255, 255, 255, .5);}


/* ----------------------------------------------------------------------------- */

.cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0;background-color:  rgba(0, 0, 0, .6); cursor: pointer; z-index: 99; display: none; }
.cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }
.header-div .login-page-div{ padding: 0;margin: 0;min-height: 190px;background-color: transparent; }
.header-div .logo-div { padding: 20px 0px; margin: 0; display: inline-block; float: left; width: 20%; }
.header-div .inner-top-header-div .logo-div{ padding: 15px 0px 15px 0;min-height: 62px; }
.top-nav1 { display: flex; justify-content: flex-end; padding: 15px 0; align-items: center; }
.nav-div .closebtn { display: none;}



/* Home page started   */


.middle-container {margin-top: 106px; background-color: #ffffff; }
.banner-section {width: 100%; height: 300px;  background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; }


.quick-search {background-color: #ffffff;
	-webkit-box-shadow: 0px 12px 8px 0px rgba(154,154,154,0.08);
	-moz-box-shadow: 0px 12px 8px 0px rgba(154,154,154,0.08);
	box-shadow: 0px 12px 8px 0px rgba(154,154,154,0.08); }
.quick-search-div {padding: 60px 0 20px 0;  }
.form-control {border-color: rgba(151,151,151, .2) !important; }

.btn-modal {    
  height: 56px;
  border-color: #cbcbcb;
  border-color: rgba(151,151,151, .2) !important;
  font-family: 'preloMedium';
  background-color: transparent;
  width: 100%;
  cursor: pointer !important;
  text-align: left !important;
  font-size: 20px !important;
  color: #1E1E1E;}
.btn-modal:focus {outline: none; border-color: #9A9A9A !important;}

.btn-filter {display: flex;
align-items: center;}
.btn-filter i {font-size: 20px; margin-left: 10px;}

.readyonly { cursor: pointer; }
.form-control {color: #1E1E1E; font-size: 20px; font-family: 'prelobook';}
.has-float-label .form-control:placeholder-shown:not(:focus)+* {font-size: 20px !important; top: 12px; color: #9A9A9A !;}
.has-float-label label, .has-float-label>span {font-size: 14px !important; left: 20px !important; color: #1E1E1E; font-family: 'preloBook';}
.form-control:focus {box-shadow: none;}
.select2-container {width: 100% !important;} 

.search-bar .form-control {height: 56px !important; font-family: 'preloMedium'; border-color: rgba(151,151,151, 20%)!important; }
.search-bar .form-control:focus {border-color: #9A9A9A !important; }

.select2-container .select2-selection--single {height: 56px !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 56px !important;   padding-left: 15px !important; font-size: 20px !important;  font-family: 'preloMedium';}
.select2-selection__arrow {height: 50px !important; padding-right: 40px !important;}
.select2-container--default .select2-selection--single { border-color: #cbcbcb !important; border-color:  rgb(151,151,151, .2) !important;}

.select2-container--default .select2-selection--single:focus { border-color: #cbcbcb !important; border-color: #9a9a9a !important;}

.select2-container .select2-choice, .select2-result-label {height: 45px !important;}
.select2-search--dropdown .select2-search__field {height: 35px !important; font-size: 18px !important;}
.select2-container--default .select2-results__option[aria-selected] {padding: 10px; font-size: 18px !important;}
.select2-div:focus, .select2-container--default:focus, .selection:focus, .select2-selection:focus {outline: 0 !important;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {  background-image: linear-gradient(135deg, #0374E2 0%, #03A9E2 100%) !important;  color: white; }
.select2-results { background-color: #fff;}

.select2-dropdown--above {border: 1px solid rgba(151,151,151, .2) !important; border-bottom: none !important;  }
.select2-dropdown--below{ border: 1px solid rgba(151,151,151, .2) !important; border-top: none !important;     }

.quick-search-div .has-float-label {margin-bottom: 30px;}
.quick-search-div .has-float-label:focus {border-color: rgba(154 ,154 ,154, 20%); }


.search {padding-left: 50px !important;}
.search-bar .icon {position: absolute; top: 20px; left: 32px; font-size: 18px;}

.grid-section {background-color: #FAFAFA; padding: 30px 0 0 0; }
.nav-tabs {border: 0;}
.nav-tabs li {padding: 20px 17px !important; font-size: 20px; width: 50%; text-align: center; border-bottom: 2px solid  rgba(154, 154, 154, .5);  }
.nav-tabs li a {font-family: 'preloMedium'; color: #8F8F8F; color: rgba(154, 154, 154, .7);}
.nav-tabs li.active {border-bottom: 2px solid #0374E2;}
.nav-tabs li.active a {color: #0374E2;}

.react-tabs__tab  {border: 0;}
.react-tabs__tab li {padding: 20px 28px; font-size: 20px; width: 50%; text-align: center; border-bottom: 2px solid  rgba(154, 154, 154, .5);  }
.react-tabs__tab span {font-family: 'preloMedium'; color: #8F8F8F; color: rgba(154, 154, 154, .7);} 

.react-tabs__tab--selected {border-bottom: 2px solid #0374E2 !important; background: none;}
.react-tabs__tab--selected span {color: #0374E2;}

.btn-blue { background-color: #ebf2f8; background-color: rgba(3,116,226, 6%); color: #0374E2 !important; border: 0; text-transform: uppercase; transition: all .5s ease-in-out; border-radius: 8px; padding: 20px 47px; font-family: 'prelobold'; }
.btn-blue:hover {color: #0374E2 !important; background-color: #d5e6f7; background-color: rgba(3,116,226, 15%) !important;}
.btn-group {display: flex; align-items: flex-end; justify-content: flex-end; }
.btn-icons {display: flex; justify-content: center; align-items: flex-end;padding: 5px 0; margin-left: 45px; }
.btn-icons a {padding: 10px 0 10px 15px; color: #9A9A9A !important;}
.btn-icons a i {font-size: 35px;}
.btn-icons .btn-view.active {color: #1E1E1E !important;}
.btn-icons a:hover {cursor: pointer;}

.grid-layout {padding: 20px 0;}
.list-layout {padding: 20px 0;}
.list-layout .col-lg-3 { padding-right: 10px; padding-left: 10px; width: 100%;}
.grid-layout .col-lg-3 { padding-right: 10px; padding-left: 10px;}
.grid-layout .col-lg-6 { padding-right: 10px; padding-left: 10px;}

.img-add img {width: 100%;}
.img-add {margin-bottom: 20px;}
.img-m0 {margin-bottom: 0 !important;}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
  max-height: 500px;
  min-height: 500px;
  overflow: hidden;
}


.list-view .grid-box .img-add { width: 50%;}
.list-view .grid-box .add-one { display: flex; order: 2; } 
.list-view .grid-box .add-two { order: 1; display: flex; margin-right: 20px;} 
.grid-bg-none {background-color: transparent !important; box-shadow: none !important;}
.grid-box {margin-bottom: 30px; background-color: #fff;}

.grid-box:hover {
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 0 12px 0 rgba(173, 173, 173, 0.5);
  -moz-box-shadow: 0 0 12px 0 rgba(173, 173, 173, 0.5);
  box-shadow: 0 0 12px 0 rgba(173, 173, 173, 0.5);
	border: rgba(154,154,154, .13);
}
.img-box img{width: 100%; height: 215px; object-fit: contain;}

.content-box {padding: 20px 20px 0 20px;}
.content-box h3 {font-size: 20px; color: #0374E2; margin-bottom: 20px; font-family: 'prelomedium'; }
.content-box p {font-size: 16px; color: #1E1E1E; margin-bottom: 10px; line-height: 24px; font-family: 'prelomedium'; padding-left: 30px; margin-bottom: 10px;}
.content-box p i {position: absolute; left: 0; top: 3px; font-weight: 600; font-size: 18px;}
.content-box p {position: relative;}
.content-box p.address {color: #9A9A9A; line-height: 24px; font-family: 'prelomedium'; min-height: 52px; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 10px;
}
.content-box p.oneline{width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;}

.content-box2 {padding: 0 20px 20px 20px; height: 170px;}
.content-box2 h4 {font-size: 16px; color: #1E1E1E; margin-bottom: 10px; line-height: 18px;  font-family: 'prelomedium';}
.content-box2 p {color: #9A9A9A; line-height: 24px; font-size: 16px; font-family: 'prelomedium'; display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden; }
.material-icons {font-size: 18px;}


/*  */

.featured-label {padding: 12px 15px; background-color: #05baf6; position: absolute; left: 0; color: #fff;top: 15px; font-size: 14px; font-family: 'prelomedium'; }


.img-box {max-height: 215px; min-height: 215px; overflow: hidden;}


.list-view {width: 100%;}
.list-view .grid-box {width: 100%; display: flex; flex-direction: row; border: rgb(154,154,154, .13);}
.list-view .grid-box a {width: 100%; display: flex;}
.list-view .grid-box .img-box {width: 16%; display: flex;}
.list-view .grid-box .content-box {width: 40%; padding: 20px 20px 20px 40px; }
.list-view .grid-box .content-box2 {width: 40%; position: relative; padding: 20px 20px 20px 40px; align-items: flex-start;display: flex;justify-content: center;flex-direction: column;}
.list-view .grid-box .content-box2::before {content: '';
	position: absolute; left: 0; top:50px; height: 50%; width: 1px; background-color:rgba(151,151,151, .4); }


.copyright-section {padding: 20px 0; background-color: #FAFAFA; border-top: 1px dotted #444444; display: flex;}
.social-media {display: flex; align-items: center;}
.social-media p {font-family: 'prelomedium'; font-size: 14px; color: #1E1E1E; line-height: 18px;}
.social-media-icon li a {background-color: #DC3E30; color: #fff; width: 30px; height: 30px; border-radius: 100px; display: flex;justify-content: center; align-items: center;}
.social-media-icon li {display: inline-block; margin-right: 20px;}
.social-media-icon {display: flex;}
.Copyright p {color: #9A9A9A;font-family: 'prelomedium'; font-size: 14px; }
.Copyright { display: flex; justify-content: flex-end; align-items: center; height: 100%;}

.social-media-icon li a.icon-g-pluse:hover {background-color: #e02e1e;}
.social-media-icon li a.icon-facebook {background-color: #3F578B; color: #fff;}
.social-media-icon li a.icon-facebook:hover {background-color: #28478a; }
.social-media-icon li a.icon-facebook i {font-size: 18px;}
.social-media-icon li a.icon-twitter {background-color: #359CCA; color: #fff;}
.social-media-icon li a.icon-twitter:hover {background-color:#1793CB;} 
.social-media-icon li a.icon-twitter i {font-size: 18px;}
.modal-dialog { max-width: 1000px; border-radius: 0; }
.modal-dialog-1000 {max-width: 1000px; border-radius: 0;}
.modal-custom .modal-content {border-radius: 20px; background-size: 80%; background-position: top center; background-image: url(../images/bg-modal.svg); background-repeat: no-repeat; }
.modal-custom .modal-content .modal-body{margin: 0px 100px 80px 100px;}
.modal-custom_1 .modal-content {border-radius: 20px; background-size: 80%; background-position: top center; background-color: transparent; background-repeat: no-repeat; }

.modal-header {border: 0;}
.modal-logo { display: flex; justify-content: center; align-items: center; margin-bottom: 50px;}
.modal-heading {font-family: 'prelomedium'; margin-bottom: 20px; font-size: 26px; color: #1E1E1E; line-height: 18px; text-align: left;  padding-bottom: 17px;}

.postbox {height: 128px; position: relative; width: 100%; overflow: hidden; background-color: #B0B0B0; margin-bottom: 16px; border-radius: 32px; position: relative;    display: flex;justify-content: center;align-items: center;}
.postbox h2 {position: absolute; color: #fff; font-size: 22px; font-family: 'prelobold'; }
.postbox img {width: 100%; height: auto;}
.postbox:before {content: ''; width: 100%; height: 100%;  top: 0; left: 0; position: absolute; background-color: rgba(0, 0, 0, .5);}

.dotted-gradient {
  background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}

.dotted-border {height: 1px;background-image: linear-gradient(to right, #fff 40%, rgba(255, 255, 255, 0) 20%);}

.days {display: flex; flex-direction: row;}
.other-days {display: none;}
.nav-tabs li {width: auto;}

.destop-view {display:block;}
.mobile-view {display: none;}


.modal-open {padding-right: 0 !important; overflow-y: scroll;}
.modal-header .close:focus {box-shadow: none !important; outline: none;}
.modal-post { display: block; border-radius: 32px; transition: all .3s;}
.modal-post:hover {box-shadow:  0 10px 12px rgba(3, 116, 226, .38); box-shadow:  0 10px 12px rgba(3, 116, 226, .38);}
/*  */


/* Modal login form */
/* Modal login form */

.modal-custom.modal-login .modal-content {border-radius: 20px;}

.login-form {margin-bottom: 60px;}
.login-form .account-text {margin-bottom: 40px;}
.login-form .account-text p {font-size: 16px; line-height: 31px; color: #1E1E1E;}
.login-form .account-text p a {color: #0374E2; letter-spacing: 0.6px; font-family: 'prelobold_italic'; font-style: italic; letter-spacing: 1px;}
.login-form form {margin-top: 10px;}

.login-form .has-float-label label, .has-float-label>span {font-size: 12px; color: #1E1E1E; opacity: 1;}
.login-form .has-float-label .form-control:placeholder-shown:not(:focus)+* {font-size: 16px; font-family: 'preloMedium'; padding-top: 5px; color: #1E1E1E !important;}
.login-form .has-float-label .form-control {height: 50px; padding-right: 40px; font-size: 16px; color: #1E1E1E; position: relative; border-color: rgba(151,151,151, 20%) !important; font-family: 'preloMedium'; background-color: #fff;}
.login-form .has-float-label .form-control::placeholder { color: #1E1E1E; font-size: 16px; font-family: 'preloMedium';}
.has-float-label .form-control:placeholder-shown:not(:focus)+* {font-family: 'preloMedium';}
.login-form .error {padding: 5px 0; display: block; color: #E63946;}
.login-form .form-froup {margin-bottom: 10px;}
.login-form .has-float-label .form-control:focus {border-color: #9a9a9a !important;}




.forgot-password-link {color: #0374E2;}
.forgot-password-link a {font-size: 20px;}
.field-icon {color: #9A9A9A !important;float: right;padding-right: 40px; margin-top: -37px;position: relative;z-index: 2;font-size: 20px !important;}
input[type="password"]{-webkit-text-security: strike !important;font-family: auto !important;font-size: 25px !important;}

.skip-arrow a {color: #0374E2; font-size: 20px; display: flex; align-items: center; }
.skip-arrow span {padding-left: 10px;transition: all .2s ease-in-out;  display: flex; align-items: center;}
.skip-arrow span i {font-size: 24px; color: #0374E2;}
.skip-arrow:hover a {color: #0067cc;}

.skip-arrow:hover span {padding-left: 20px; }
.btn-groups .btn {transition: 0.3s ease-in-out; background-color: rgb(154 ,154 ,154, 10%) !important; font-size: 20px; padding: 11px 46px 12px 46px; margin-left: 5px; color: #9A9A9A !important;}
.btn-groups .btn:hover {background-color: rgba(154 ,154 ,154, 20%) !important;}
.modal-login .modal-content .modal-body {margin-bottom: 20px !important;}
.btn-groups .btn-login { transition: 0.3s ease-in-out; background-image: linear-gradient(to right bottom, #0374e2, #0083e6, #0091e6, #009de5, #03a9e2); color: #ffffff !important;}
.btn-groups .btn-login:hover {background-image: linear-gradient(to right bottom, #0361bd, #006fc2, #007bc4, #0087c4, #0592c3); color: #ffffff !important;}
.btn-groups .btn.not-now { background-color: #006fc2 !important; color: #fff !important;}
.btn-groups .btn.delete { background-color: #E63946 !important; color: #fff !important;}

.post-mic-form .btn-groups .btn {font-size: 26px; font-family: 'preloMedium';}
.post-mic-form .error {padding: 5px 0; display: block; color: #E63946;}
.container-check {display: block;position: relative;padding-left: 30px;margin-bottom: 12px;cursor: pointer;font-size: 16px;-webkit-user-select: none;line-height: 22px;-moz-user-select: none;-ms-user-select: none;user-select: none;border-radius: 3px;color: #1E1E1E;}

/* Hide the browser's default checkbox */
.container-check input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}

/* Create a custom checkbox */
.checkmark {position: absolute;top: 0;left: 0;height: 20px;width: 20px;background-color: #eee;border-radius: 3px;}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {background-color: #ccc;border-radius: 3px;}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {background-color: #0374E2;border-radius: 3px;}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: "";position: absolute;display: none;}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {display: block;}

/* Style the checkmark/indicator */
.container-check .checkmark:after {left: 7px;top: 4px;width: 6px;height: 10px;border: solid white;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
/* modla login form end */


/* wel come modal start */

.modal-welcome .modal-header { min-height: 130px;}
.modal-welcome .modal-content{ background-image: url(../images/bg-welcome.svg) !important; border-radius: 20px;}
.modal-welcome button.close {color: #ffffff;}
.modal-welcome button.closeLhiver {color: #ffffff;}
.welcome-heading h2 {font-size: 86px; color: #ffffff;   font-family: 'south_gardens_personal_useRg';}
.welcome-heading {display: flex; justify-content: center; align-items: center; text-align: center; margin-bottom: 80px;}
.welcome-content {margin: 0 100px 30px 100px;}
.welcome-content p {font-size: 20px; color: #00BCFF; font-family: "prelomedium"; margin-bottom: 50px; line-height: 30px; text-align: center; padding: 0 50px;}

.social-media-pop-up p {margin-top: 20px; font-size: 14px; color: #ffffff; font-family: "prelomedium"; margin-bottom: 20px; line-height: 18px; }
.social-media-pop-up {display: flex; justify-content: center; align-content: center; align-items: center; flex-direction: column;}
.social-icons { display: inline-block; list-style: none; padding: 0;}
.social-icons li {display: inline-block; margin-left: 20px;}
.social-icons li:nth-child(1) {margin-left: 0px;}

.dash-border { width: 100%;height: 1px; background-image: linear-gradient(to right, #fff 40%, rgba(255, 255, 255, 0) 20%);background-position: bottom;background-size: 3px 2px;background-repeat: repeat-x;}
.social-icons li a {display: flex; justify-content: center; align-items: center; height: 30px; width: 30px; font-size: 20px; }
.social-icons li a.facebook {background-color: #3F578B; color: #ffffff; }
.social-icons li a.g-pluse {background-color: #DC3E30; color: #ffffff; font-size: 16px;}
.social-icons li a.twitter {background-color: #359CCA; color: #ffffff;}
.social-icons li a.facebook:hover {background-color: #2f4a84; color: #ffffff; }
.social-icons li a.g-pluse:hover {background-color: #c53326; color: #ffffff; font-size: 16px;}
.social-icons li a.twitter:hover {background-color: #1792ca; color: #ffffff;}

/* wel come modal end */

.modal-heading h3 {line-height: 40px;}

/* post mic page start */
.postmic-secttion {padding-top: 50px; min-height: calc(100vh - 180px);}
.post-mic-heading h3 { font-size: 26px; color: #1E1E1E; line-height: 40px; position: relative; font-family: "prelomedium"; line-height: 40px; padding-bottom: 15px; margin-bottom: 15px; }
.post-mic-heading h3:after {content: '';background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);background-position: bottom;background-size: 3px 1px;background-repeat: repeat-x;width: 100%;display: block;height: 1px;position: absolute;padding-top: 15px; }

.post-mic-heading p { font-size: 20px; color: #1E1E1E;font-family: "prelobook"; line-height: 30px;}
.post-mic-heading { margin-bottom: 70px;}
.post-mic-form .form-control {height: 63px; line-height: 26px; font-family: "preloMedium" !important; border-color: rgba(154 ,154 ,154, 20%) !important; color: #1E1E1E;font-size: 20px; background-color: #fff;}
.post-mic-form .form-control:focus {border-color: #9a9a9a !important;}
.post-mic-form .has-float-label .form-control:placeholder-shown:not(:focus)+* {top: 22px; font-family: "prelomedium"; opacity: 1; letter-spacing: 1px;}
.post-mic-form .form-group {margin-bottom: 50px;}
.post-mic-form {padding-bottom: 150px;} 
.post-mic-form .has-float-label label, .has-float-label > span {font-family: "prelomedium"; width: auto;}


.post-mic-form .form-control::placeholder {font-size: 20px;}

/* post mic page start */



/* thanks page stared */


.thanks-secttion {background-image: url("../images/bg-modal.svg"); min-height: calc(100vh - 180px); margin-top: 40px; display: flex;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thanks-div { display: flex; height: 100%; flex-direction: column; justify-content: center; align-items: center; }
.thanks-heading h2 {font-size: 86px; color: #0374E2; margin-bottom: 56px; font-family: 'south_gardens_personal_useRg';}
.thanks-heading p {font-size: 27px; color: #1E1E1E; line-height: 43px; font-family: 'preloMedium'}
.thanks-heading {text-align: center; margin-bottom: 98px;}

.btn-blue-light {background-color: #F0F7FE; font-family: 'prelomedium'; font-size: 26px; color: #0374E2 !important; line-height: 40px; border-radius: 100px; border: 1px solid #0374E2; padding: 12px 138px;}
.btn-blue-light:hover {background-color: #E0F3FC; border: 1px solid #68ABEB; }



.modal-backdrop.show {opacity: .7;}

/* conatct form modal start */
.modal-custom.modal-contact .modal-content .modal-body {margin: 0px 100px 40px 100px}
.modal-custom.modal-contact .modal-content {border-radius: 20px !important;}
.Contact-form .contact-content p {font-size: 16px; color: #1E1E1E;}
.Contact-form .contact-content {margin-bottom: 42px;}






/* post details page */
.postmic-detail-section {padding-top: 40px;}
.post-img img {width: 100%;}
.post-content {padding-top: 20px;}
.post-content h3 {font-size: 32px; color: #0374E2; font-family: "preloMedium"; line-height: 32px; margin-bottom: 30px;}
.post-content h4 {font-size: 26px; color: #1E1E1E; position: relative; font-family: "preloMedium"; line-height: 30px; margin-bottom: 15px; padding-left: 40px;}
.post-content h4 i {position: absolute; left: 0px; top: 0; font-size: 26px;}
.post-content p {font-size: 26px; color: #9A9A9A; padding-left: 40px; line-height: 42px; margin-bottom: 15px;}
.post-content h4 i img {width: 26px;}
.post-content p span {display: block;}

.post-about h4 {font-size: 26px; color: #1E1E1E;  font-family: "preloMedium"; line-height: 30px; margin-bottom: 15px; }
.post-about p {font-size: 26px; color: #9A9A9A;  line-height: 42px; margin-bottom: 15px;}
.post-about {margin-top: 25px;}
.post-about-btn  {justify-content: center; display:flex; align-items: center; margin: 50px 0 60px 0; }

/* .send-request .has-float-label {height: 150px;} */


.send-request textarea {resize: none; margin-top: 20px; padding: 10px 10px; font-size: 16px; font-family: 'preloMedium'; height: 120px !important;}

.post-mic-form .text-area {resize: none;  line-height: 30px; margin-top: 20px; padding: 10px 15px; font-size: 20px; font-family: 'preloMedium'; overflow: hidden; height: 150px;}

.type-message {height: 150px; padding: 15px;}
.taggle_list .taggle {padding: 6px 15px !important; border-radius: 30px !important;}
.taggle_placeholder {opacity: 1;}
.taggle_list .taggle .close {top: 7px !important;}
.taggle_list {bottom: 10px; position: absolute;}
.taggle_input {position: absolute; top: -100px; left: 0;}
.donating {color: #0374E2; font-family: 'prelobold';}

/* comedy festival page */

.comedy-festival {padding: 30px 0 0 0; background-color: #fafafa;}
.heading-comedy .img-circle {height: 60px; width: 60px; border-radius: 100px;}
.heading-comedy {display: flex; justify-content: flex-start; align-items: center;position: relative;}
.heading-comedy h3 {padding-left: 20px; font-size: 26px; color: #1E1E1E; font-family: "preloMedium"; }
.heading-comedy:after {content: '';background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);background-position: bottom;background-size: 3px 1px;background-repeat: repeat-x;width: 100%;display: block;height: 1px;position: absolute;bottom: -12px; }

.content-comedy {margin-top: 30px;}
.content-comedy p {font-family: 'prelobook_italic'; font-size: 20px; line-height: 24px; margin-bottom: 0;}



/* Profiel page  */
.min-height {min-height: calc(100vh - 180px);}

.profile-section {padding: 30px 0 20px 0; background-color: #fafafa;}
.img-circle img{width: 100%;}


.gridbox-footer {display: flex; background-color: #fff; border-top: 1px solid rgba(154,154,154, 13%); }
.gridbox-footer .btn-div {width: 50%; display: flex; justify-content: center;}
.btn-div .btn {padding: 20px 0; width: 100%;}
.edit-mic  {border-right: 1px solid rgba(154,154,154, 13%); color: #222222;}
.edit-mic a {color: #222222; border-radius: 0;}
.edit-mic a:hover {color: #1d1d1d; background-color: rgb(29, 29, 29, 0.1);}

.publish-mic  {border-right: 1px solid rgba(154,154,154, 13%); color: #0374E2;}
.publish-mic a {color: rgba(3, 116, 226, 80%); border-radius: 0;}
.publish-mic a:hover {color: rgba(3, 116, 226, 100%); background-color: rgba(3, 116, 226, .1);}


.delete-mic a {color: rgba(233, 33, 33, .8); border-radius: 0;}
.delete-mic a:hover {color: rgba(233, 33, 33, 1); background-color: rgba(233, 33, 33, .1);}

.btn-div a {display: flex; align-items: center; justify-content: center; font-size: 18px; font-family: 'preloMedium';}
.btn-div a i {font-size: 24px; margin-right: 5px;}



.ullist-inline li.btn-signup.user-active {padding: 10px 20px; background-color: #000000; background-image: none; border-radius: 10px;}
.ullist-inline li.btn-signup.user-active a { display: flex; justify-content: center; align-items: center;}
.ullist-inline li.btn-signup.user-active a img {margin-right: 15px;}

.ullist-inline li.btn-signup.user-active:hover .dropdown-profile {display: block !important; right: 0; left: auto !important; top: 60px !important; transform: translate3d(0px, 0px, 0px) !important; box-shadow: 0 0px 20px rgba(18,38,63,.2);}
.ullist-inline li.btn-signup.user-active .dropdown-profile {right: 0; left: auto !important; transform: translate3d(0px, 0px, 0px) !important; top: 60px !important }
.ullist-inline li.b0:first-child {border: 0 !important;}

.ullist-inline li.btn-signup.user-active .dropdown-profile a h3{color: #1E1E1E !important; width: 95%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ullist-inline li.btn-signup.user-active .dropdown-profile a {color: #9A9A9A !important; background-color: #ffffff; line-height: 24px; padding: 10px 28px; }
.ullist-inline li.btn-signup.user-active .dropdown-profile a:active, .ullist-inline li.btn-signup.user-active .dropdown-profile a:focus {background-color: #f0f0f0 !important; background-image:none;}
.ullist-inline li.btn-signup.user-active .dropdown-profile a:hover { color: #ffffff !important; background-image: linear-gradient(135deg, #0374E2 0%, #03A9E2 100%);}

.ullist-inline li.btn-signup.user-active .dropdown-profile a:hover h3 {color: #ffffff !important;}
.ullist-inline li.btn-signup.user-active .dropdown-profile h3 {font-size: 20px; font-family: 'prelobold'; text-align: left;}
.ullist-inline li.btn-signup.user-active .dropdown-profile a {text-align: left;display: flex;justify-content: flex-start;text-align: left;}
.ullist-inline li.btn-signup.user-active .dropdown-profile a.log-out h3 {font-size: 18px; display: flex; align-items: center; }
.ullist-inline li.btn-signup.user-active .dropdown-profile a.log-out h3 i {margin-right: 8px; font-size: 24px;}

.dropdown-profile.dropdown-menu.show { box-shadow: 0 0px 20px rgba(18,38,63,.2);}
.ullist-inline li.btn-signup.user-active .dropdown-profile:before{content: '';top: -18px;position: absolute;right: 0;width: 0;height: 0;border-style: solid;border-width: 0 0 20px 20px;border-color: transparent transparent #ffffff transparent;z-index: 3333;}
.tabs-header .nav-tabs li {padding: 0;  width: 25%;}
.tabs-header .nav-tabs li a {width: 100%; display: inline-block; padding: 20px;}

.grid-profile {background-color: #ffffff; margin-bottom: 80px; min-height: 700px;}

.bs-example{margin: 20px 0;}
.accordion .fa{ margin-left: 0.5rem;}
.accordian-openmic .card-header {background-color: #ffffff; border-color: rgba(151,151,151, 0); }
.accordian-openmic .card {margin-bottom: 20px; border-color: rgba(151,151,151, 20%); background-color: #FAFAFA;}
.accordian-openmic .card.active .card-header  {background-color: #fafafa;}
.accordian-openmic .card-header .btn-link {color: #1E1E1E; font-family: 'preloMedium'; font-size: 20px;display: flex;     align-items: center;
  justify-content: space-between; width: 100%;text-align: left; padding: 5px 0;}
.accordian-openmic .card-header .btn-link .fa {font-weight: 300; font-size: 16px;}

.tab-form .has-float-label .form-control {height: 50px;font-size: 20px;font-family: 'preloMedium';color: #1E1E1E;position: relative;border-color: #979797 !important;}
.tab-form .has-float-label .form-control:placeholder-shown:not(:focus)+* {font-size: 20px; font-family: 'preloMedium'; padding-top: 5px;color: #1E1E1E !important;}
.tab-form .has-float-label label, .has-float-label > span {font-size: 14px;color: #1E1E1E;opacity: 1;}

.grid-profile .grid-box {
  -webkit-box-shadow: 0px 0px 30px 10pxrgba(154,154,154,0.08);
  -moz-box-shadow: 0px 0px 30px 10px rgba(154,154,154,0.08);
  box-shadow: 0px 0px 30px 10px rgba(154,154,154,0.08);}

.grid-profile .grid-box:hover {
    -webkit-box-shadow: 0px 0px 15px 10pxrgba(154,154,154,0.08);
    -moz-box-shadow: 0px 0px 15px 10px rgba(154,154,154,0.08);
    box-shadow: 0px 0px 15px 10px rgba(154,154,154,0.08);} 

.grid-layout .accordian-openmic .col-lg-6 {padding-left: 15px; padding-right: 15px;}
.accordian-openmic .btn-send {background-color: rgba(3, 116, 226, 6%);  color: #0374E2;  font-family: 'preloBold'; border-color: #979797 !important; font-size: 20px; letter-spacing: 1px; padding: 9px 62px; }
.accordian-openmic .btn-send:hover {background-color: rgba(3, 116, 226, 12%); }

.tab-form-footer {margin-top: 60px; margin-bottom: 10px;}
.tab-form-footer .btn-groups {font-size: 26px; font-family: 'preloMedium';}
.update-account-form .form-group {margin-bottom: 40px;}
.update-account-form .error {padding: 5px 0; display: block; color: #E63946;}

.intrested-to {padding: 20px 0; }
.contact-detail-box {background-color: #ffffff; border-radius: 4px; display: block; width: 100%; border: 1px solid rgba(151,151,151, 20%);  width:100%; 
  -webkit-box-shadow: 0px 0px 14px 10pxrgba(154,154,154,0.08);
  -moz-box-shadow: 0px 0px 14px 10px rgba(154,154,154,0.08);
  box-shadow: 0px 0px 14px 10px rgba(154,154,154,0.08);
margin-bottom: 20px;
}

.contact-detail-box:hover { 
  -webkit-box-shadow: 0px 5px 14px 10pxrgba(154,154,154,0.09);
  -moz-box-shadow: 0px 5px 14px 10px rgba(154,154,154,0.09);
  box-shadow: 0px 5px 14px 10px rgba(154,154,154,0.09);}

.contact-inner {position: relative; width: 100%;}
.contact-detail-box .contact-profile {position: absolute; top: 0; left: 0; padding: 20px 30px 20px 30px;}
.contact-detail-box .contact-text { padding: 20px 20px 15px 125px;}

.contact-profile img {width: 67px; height: 67px; border-radius: 100px;}
.contact-text h3 {font-size: 26px; font-family: 'preloMedium'; line-height: 40px; width: 80%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.contact-text p {font-size: 20px; font-family: 'prelomedium_italic'; line-height: 32px; color:#9A9A9A;  width: 60%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.group-text {display: flex; justify-content: space-between; align-items: center;}

.contact-link {font-size: 18px; font-family: "prelobold"; color: #25C757; text-transform: uppercase;}
.footer-contact p, .footer-contact span {font-size: 18px; font-family: "preloBook";}
.line-1 {margin: 10px 0; color: #979797;}

.Interestedto {background-color: #FAFAFA; border-radius: 4.8px; padding: 24px 0; position: relative; margin-top: 30px;}
.profile-photo {width: 80px; height: 80px;border-radius: 100px; margin: 0 35px; position: absolute; left: 0;}
.profile-photo img {width: 100%;}

.profile-content {padding: 0 30px 20px 150px;}
.profile-content h3 {font-size: 30px; font-family: 'preloMedium'; line-height: 40px;   width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.profile-content h4 {font-size: 24px; font-family: 'prelomedium_italic'; line-height: 40px; color: #9A9A9A;   width: 70%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }

.contact-info ul li a {font-size: 24px;font-family: 'preloMedium'; color: rgba(30,30,30, 60%); line-height: 32px; display: flex; align-items: center; padding: 10px; }
.contact-info ul li a img {margin-right: 10px;}
.contact-info ul li a:hover {color: rgba(30,30,30, 100%);}

.contact-info ul li a .img-hover {display: none}
.contact-info ul li a:hover .img-block {display: none}
.contact-info ul li a:hover .img-hover {display: block}

.Interestedto-content P {font-size: 20px; font-family: "prelomedium_italic"; color: #1E1E1E; text-align: center; line-height: 28px}
.Interestedto-content {padding: 28px 60px 0 60px;}


/* footer */




.login-txt {color: #0374E2;
  letter-spacing: 0.6px;
  font-family: 'preloMedium';
  letter-spacing: 1px; font-weight: 600;}

.post-guide li {font-size: 20px; color: #1E1E1E; font-family: "prelobook"; line-height: 37px; position: relative; padding-left: 35px;}
.post-guide {margin-top: 30px;}

.post-guide li::before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url('../images/icon/check.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 7px;
  /* transform: translateY(-50%); */
}

.post-review li {font-size: 20px; color: #1E1E1E; font-family: "prelobook"; line-height: 37px; position: relative; padding-left: 35px;}
.post-review {margin-top: 40px;}
.post-review li::before {content: '';width: 24px;height: 24px;position: absolute;background-image: url('../images/icon/checked.png');background-size: cover;background-position: center;left: 0;top: 7px;}
.post-review li span {font-family: "preloMedium"; margin-right: 20px; text-transform: uppercase; min-width: 120px; display: inline-block;}

.review-details {padding: 0px;}
.review-details h3 {font-size: 22px; font-family: 'preloMedium'; display: block !important; color:#0374E2; line-height: 36px; margin-bottom: 5px;}
.review-details h4 {font-size: 20px;  font-family: "preloMedium"; line-height: 37px; margin-bottom: 10px;}
.review-details h5 {font-size: 20px;  font-family: "prelobook"; line-height: 37px}
.review-details img {height: auto; width: 100%; overflow: hidden;}

  /* transform: translateY(-50%); */
.logo-div .logo_link img {width: 100%;}
.note {display: block; padding: 8px 0; }
.mt20 {margin-top: 30px;}



/* steps */

.post-mic-form-steps .form-group {margin-bottom: 30px;}
.step-title p {font-size: 22px;   font-family: 'preloMedium';   letter-spacing: 0.6px; margin-bottom: 30px;}

.gj-datepicker-md [role=right-icon] {position: absolute;right: 10px;top: 20px;font-size: 22px;}
.gj-datepicker-md {border: 1px solid rgba(154 ,154 ,154, 20%) !important;border-radius: 4px !important;}
.gj-datepicker-md input {padding: 10px 15px; border-radius: 4px;}
.gj-textbox-md:active, .gj-textbox-md:focus {border-bottom: 1px solid #9a9a9a;outline: 0;}

.fa-calendar-o {font:normal normal normal 20px/1 FontAwesome !important;}
/* .gj-picker-md div[role=navigator] div i.gj-icon, .gj-picker-md div[role=navigator] div i.material-icons {display: none;} */

.container-radio span {font-size: 18px; font-family: "prelobook"; padding-left: 5px;}
.step-title h4{font-family: 'preloMedium';color: #0390e2;font-size: 14px;margin-bottom: 15px;}

.text-area-120 {min-height: 120px !important; height: auto !important;}
.post-mic-form-steps  .post-mic-heading {margin-bottom: 30px;}
.signup-form {padding-top: 0 !important;}
.radio-check {margin-bottom: 20px;}
.post-mic-form .text-area.mt-0 {height: 175px !important;}

.gj-picker .selected {font-size: 18px; margin-bottom: 10px;}
.gj-picker [role=switch] [role=time] {font-size: 18px;}

.gj-picker.datetimepicker [role=header] [role=date] {font-size: 18px; margin-bottom: 10px;}
.gj-picker [role=switch] [role=calendarMode] {display: none !important;}
/* .gj-picker [role=switch] [role=time] {display: none !important;} */

.gj-icon {display: none !important;}
.btn-draft {position: relative; line-height: 26px;background-color: rgb(154 ,154 ,154, 10%) !important;font-size: 26px;padding: 11px 46px 12px 46px; margin-left: 5px; font-size: 26px; font-family: 'preloMedium';  line-height: 1.5; color: #9A9A9A !important;}
.btn-draft:hover {background-color: rgba(154 ,154 ,154, 20%) !important;}
.container-radio {display: block;position: relative;padding-left: 35px;margin-bottom: 15px;cursor: pointer;font-size: 22px; font-family: 'preloMedium';-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

/* new css added by aakhil on 22nd august */
.grid-section{min-height: calc(100vh - 500px);}


.ullist-inline li.btn-signup a {padding: 15px 23px; display: block;}
.ullist-inline li.btn-signup {padding: 0;}
.ullist-inline li.btn-signup.user-active a {padding: 0;}

.header-profile li:first-child {border-right: 0;}


/* select */

.quick-search-div .css-yk16xz-control, .quick-search-div .css-1pahdxg-control { min-height: 56px !important; height: 56px !important; font-family: 'preloMedium'; font-size: 20px !important;color: #1E1E1E; line-height: 30px; border: 1px solid #ced4da !important;}
.quick-search-div .css-yk16xz-control:hover, .quick-search-div .css-1pahdxg-control:hover {border: 1px solid #9A9A9A !important;}
.quick-search-div .css-yk16xz-control:focus, .quick-search-div .css-1pahdxg-control:focus, .quick-search-div .css-1pahdxg-control:active:focus {border-color: #9A9A9A !important; outline: none !important; box-shadow: none !important; }
.quick-search-div .css-1pahdxg-control:focus, .quick-search-div .css-yk16xz-control:focus,
.quick-search-div .css-1pahdxg-control:active, .quick-search-div .css-yk16xz-control:active {outline: none !important; box-shadow: none !important; border-color:  #9A9A9A !important; }
.quick-search-div .css-2b097c-container:focus {border: 0 !important; outline: none !important; box-shadow: none !important;  }
.quick-search-div .css-1okebmr-indicatorSeparator {display: none !important;}
.quick-search-div .css-1laao21-a11yText {border: 0!important; outline: none !important; box-shadow: none !important; }
.quick-search-div .css-1gtu0rj-indicatorContainer {transform: rotate(180deg); }
.quick-search-div .css-26l3qy-menu { top: 100%;
  background-color: hsl(0,0%,100%);
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsla(0,0%,0%,0.1), 0 4px 11px hsla(0,0%,0%,0.1);
  margin-bottom: 8px;
  margin-top: 8px;
  position: absolute;
  width: 100%;
  z-index: 8;
  box-sizing: border-box;}
.css-26l3qy-menu {margin: 1px 0 0 0 !important; }
.css-26l3qy-menu .css-1ml51p6-MenuList div {padding: 12px 10px;  font-family: 'preloMedium'; font-size: 16px; }
.quick-search-div .has-float-label label, .has-float-label>span {background-color: #ffffff;}

.post-mic-form .css-26l3qy-menu {     top: 100%;
  background-color: hsl(0,0%,100%);
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsla(0,0%,0%,0.1), 0 4px 11px hsla(0,0%,0%,0.1);
  margin-bottom: 8px;
  margin-top: 8px;
  position: absolute;
  width: 100%;
  z-index: 8;
  box-sizing: border-box;}
.post-mic-form  .css-yk16xz-control, .post-mic-form  .css-1pahdxg-control { min-height: 56px !important; height: 56px !important; font-family: 'preloMedium'; font-size: 20px !important;color: #1E1E1E; line-height: 30px; border: 1px solid #ced4da !important;}
.post-mic-form  .css-yk16xz-control:hover, .post-mic-form  .css-1pahdxg-control:hover {border: 1px solid #9A9A9A !important;}
.post-mic-form  .css-yk16xz-control:focus, .post-mic-form  .css-1pahdxg-control:focus, .post-mic-form  .css-1pahdxg-control:active:focus {border-color: #9A9A9A !important; outline: none !important; box-shadow: none !important; }
.post-mic-form  .css-1pahdxg-control:focus, .post-mic-form  .css-yk16xz-control:focus,
.post-mic-form .css-1pahdxg-control:active, .post-mic-form  .css-yk16xz-control:active {outline: none !important; box-shadow: none !important; border-color:  #9A9A9A !important; }
.post-mic-form  .css-2b097c-container:focus {border: 0 !important; outline: none !important; box-shadow: none !important;  }
.post-mic-form  .css-1okebmr-indicatorSeparator {display: none !important;}
.post-mic-form  .css-1laao21-a11yText {border: 0!important; outline: none !important; box-shadow: none !important; }
.post-mic-form  .css-1gtu0rj-indicatorContainer {transform: rotate(180deg); }
.post-mic-form  .has-float-label label, .has-float-label>span {background-color: #ffffff;}

.Contact-form  .css-26l3qy-menu {     top: 100%;
  background-color: hsl(0,0%,100%);
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsla(0,0%,0%,0.1), 0 4px 11px hsla(0,0%,0%,0.1);
  margin-bottom: 8px;
  margin-top: 8px;
  position: absolute;
  width: 100%;
  z-index: 8;
  box-sizing: border-box;}
  .Contact-form  .css-yk16xz-control, .Contact-form   .css-1pahdxg-control { min-height: 56px !important; height: 56px !important; font-family: 'preloMedium'; font-size: 20px !important;color: #1E1E1E; line-height: 30px; border: 1px solid #ced4da !important;}
  .Contact-form  .css-yk16xz-control:hover, .Contact-form  .css-1pahdxg-control:hover {border: 1px solid #9A9A9A !important;}
  .Contact-form  .css-yk16xz-control:focus, .Contact-form   .css-1pahdxg-control:focus, .Contact-form   .css-1pahdxg-control:active:focus {border-color: #9A9A9A !important; outline: none !important; box-shadow: none !important; }
  .Contact-form  .css-1pahdxg-control:focus, .Contact-form   .css-yk16xz-control:focus,
  .Contact-form .css-1pahdxg-control:active, .Contact-form  .css-yk16xz-control:active {outline: none !important; box-shadow: none !important; border-color:  #9A9A9A !important; }
  .Contact-form   .css-2b097c-container:focus {border: 0 !important; outline: none !important; box-shadow: none !important;  }
  .Contact-form   .css-1okebmr-indicatorSeparator {display: none !important;}
  .Contact-form   .css-1laao21-a11yText {border: 0!important; outline: none !important; box-shadow: none !important; }
  .Contact-form  .css-1gtu0rj-indicatorContainer {transform: rotate(180deg); }
  .Contact-form  .has-float-label label, .has-float-label>span {background-color: #ffffff;}

.react-tabs__tab:focus {
  box-shadow: none !important;
  border-color: #0374E2 !important ;
  outline: none !important;
}
.react-tabs__tab:focus:after {display: none;}


.btn-groups-steps {display: flex; justify-content: space-between;}
.btn-groups-steps .btn-next { transition: 0.3s ease-in-out; background-image: linear-gradient(to right bottom, #0374e2, #0083e6, #0091e6, #009de5, #03a9e2); color: #ffffff !important; padding: 11px 46px 12px 46px; margin-left: 5px; font-size: 26px; font-family: 'preloMedium';}
.btn-groups-steps .btn-prev {background-color: transparent ; font-size: 26px; border: 0 ; font-family: 'preloMedium'; color: #0091e6 ; padding-left: 0;}

.btn-groups-steps .btn-next:hover, .btn-groups-steps .btn-next:active {color: #ffffff;background-image: linear-gradient(135deg, #0361BD 0%, #0592C3 100%);}
.btn-groups-steps .btn-prev:hover {color: #0374e2;}
.btn-groups-steps .btn-next:not(.disabled):active {background-image: linear-gradient(to right bottom, #0374e2, #0083e6, #0091e6, #009de5, #03a9e2);}


.flatpickr-days .dayContainer {padding: 15px;}
span.flatpickr-weekday {font-size: 15px; color: #fff; font-weight: 500; background: transparent;}

.flatpickr-weekdays {padding: 15px !important; }
.flatpickr-day.today {border-color:#0374e2 !important; background-image: linear-gradient(to right bottom, #0374e2, #0083e6, #0091e6, #009de5, #03a9e2); color: #fff; }
.flatpickr-day.today:hover {background-image: linear-gradient(to right bottom, #0374e2, #0083e6, #0091e6, #009de5, #03a9e2); color: #fff;}

.btn-mobile-week {display: none;}
.btn-blue .btn-sm {padding: 12px 12px;}

.review-details img {width: auto; height: auto; max-width: 100%;}
.img-upload { max-height: 215px;  min-height: 215px; overflow: hidden; background-color: #fafafa; display: flex; align-items: center; justify-content: center;}



.css-1pahdxg-control{ background-color:hsl(0,0%,100%);border-color:#ced4da !important !important;box-shadow:0 0 0 0px #2684FF !important;outline:0 !important; }
.flatpickr-wrapper {display: block;}
/* end */

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
}


@keyframes shadow-pulse {
    0%{ opacity: 0; transform: scale(0.1); }
    50%{ opacity: 1; transform: scale(0.5); }
    100%{ opacity: 0; transform: scale(1.0); }
  }
  /* @keyframes grow-circles{
    0%{ opacity: 0.85; transform: scale(1.0); }
    15%{ opacity: 1; transform: scale(1.05); }
    30%{ opacity: 0.85; transform: scale(1.0); }
  }
  @keyframes shadow-pulse{
    0%{ transform: scale(1); }
    15%{ transform: scale(1.1); }
    30%{ transform: scale(1); }
  } */
  /* .open-mic img {width: 100%; height: 116px; width: 116px;}
.open-mic {position: fixed; bottom: 50px; right: 40px; z-index: 99; }
.open-mic div {border: 1px solid #FFAB4E ; height: 200px; width: 200px; border-radius: 100px; animation: shadow-pulse 1s infinite; top: 0; left: 0; position: absolute;}
 */


.rotation-div { bottom: 30px; right: 150px; padding: 0; margin: 0; position: fixed; min-height: 200px; max-width: 100%; z-index: 99;; margin: 0px auto; text-align: center; display: flex; align-items: center; justify-content: center; border-radius: 0; }
.rotation-div .img-box { padding: 0; margin: 0; position: absolute; display: flex; align-items: center; flex-direction: column; }
.rotation-div .img-box .img-thumb-rotate { height: 126px; width: 126px; display: flex; align-items: center; justify-content: center; background-color: #FAFAFA; border: 8px solid #fff; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); border-radius: 100%; margin: 0 0 0px 0; }
.rotation-div .img-box .content-p p { padding: 0; margin: 0; font-size: 18px; line-height: 50px; letter-spacing: -0.44px; }

.pulse-icon{ position: relative; display: inline-block; transform: scale(1.0); }
.pulse-icon .icon-wrap { position: relative; width: 60px; height: 60px; text-align: center; display: inline-block; border-radius: 50%; color: #6A1B9A; position: relative; z-index: 2; transform: scale(1.5); }
.pulse-icon .icon{ line-height: 60px; font-size: 1.75em; animation: grow-shrink 4s ease-out infinite; }
.pulse-icon .icon-wrap img {width: 100%;}

.pulse-icon .elements{ position: absolute; top: 10px; left: 10px; z-index: 1; transform: scale(0.7); }
.pulse-icon .circle{ border-radius: 50%; position: absolute; }
.pulse-icon .pulse{ position: absolute; animation: pulse-wave 5s linear infinite both; border-radius: 50%; }
.pulse-icon .pulse-1{ border: solid 1px rgba(252, 119, 72, 0.7); width: 200px; height: 200px; top: -70px; left: -70px; transform: scale(1.1); }
.pulse-icon .pulse-2{ border: solid 1px rgba(252, 119, 72, 0.7); width: 300px; height: 300px; top: -120px; left: -120px; transform: scale(1.1); }
.pulse-icon .pulse-3{ border: solid 1px rgba(252, 119, 72, 0.7); width: 400px; height: 400px; top: -170px; left: -170px; transform: scale(1.1); }

.img-gradient{ width: 100%; }

@keyframes pulse-wave{
  0%{ opacity: 0; transform: scale(0.1); }
  50%{ opacity: 1; transform: scale(0.5); }
  100%{ opacity: 0; transform: scale(1.0); }
}
@keyframes grow-circles{
  0%{ opacity: 0.85; transform: scale(1.0); }
  15%{ opacity: 1; transform: scale(1.05); }
  30%{ opacity: 0.85; transform: scale(1.0); }
}
@keyframes grow-shrink{
  0%{ transform: scale(1); }
  15%{ transform: scale(1.1); }
  30%{ transform: scale(1); }
}

/* end of effect  */
/* ------------------------------------------------------------------------------ */

.crop-img-div .file-button.file-input50 { width: 50%; float: left; text-align: center;  }
.crop-img-div .file-button.file-input50.remove-button { background-color: #e92121cc !important; border-radius: 0px; color: #fff !important; border-radius: 0 0 4px 0px; }
.crop-img-div .file-button.file-input100 { width: 100%; float: left; text-align: center;  }
.crop-img-div .file-button.file-input100.remove-button { background-color: #e92121cc !important; border-radius: 0px; color: #fff !important; border-radius: 0 0 4px 0px; }


.resend-mail p {
  font-family: Prelo-Medium;
font-size: 26px;
color: #1E1E1E;
letter-spacing: 0.4px;
text-align: center;
line-height: 44px;
}

/* .spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
} */

.spinner-border {
  display: inherit;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #838383; /* Blue */
  border-radius: 50%;
  width: 26px;
  height: 26px;
  animation: spin 2s linear infinite;
  margin-left: 15px;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* 05-sep-2019  profile selection*/

.account-profile h2 {margin-bottom: 30px; font-size: 16px; line-height: 24px; font-family: 'prelomedium';}
.account-profile ul li img {width: 60px; height: 60px; overflow: hidden; border-radius: 100px; }
.account-profile ul li {margin-right: 30px; display: inline-block; margin-bottom: 30px; position: relative;}
.account-profile ul {padding: 0 0 0px 10px; margin: 0;}
.account-profile ul li.active:after {content: url('../images/selected.png');position: absolute;top: -7px;left: -7px;}

/* 05-sep-2019 */


/* pagination */

.pagination-main { display: flex; justify-content: center; padding: 20px 0;}
.pagination-main .page-item .page-link {font-size: 16px; padding: 12px 18px; font-weight: 500;}
.page-item.disabled .page-link {cursor: no-drop; pointer-events: inherit;}

/* checkbox-custom */


.container-check-box {display: block;position: relative;padding-left: 40px;margin-bottom: 12px;cursor: pointer;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;}

/* Hide the browser's default checkbox */
.container-check-box input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}

/* Create a custom checkbox */
.checkmark {position: absolute;top: 0;left: 0;height: 25px;width: 25px;background-color: #eee;}

/* On mouse-over, add a grey background color */
.container-check-box:hover input ~ .checkmark {background-color: #ccc;}

/* When the checkbox is checked, add a blue background */
.container-check-box input:checked ~ .checkmark {background-color: #2196F3;}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: "";position: absolute;display: none;}

/* Show the checkmark when checked */
.container-check-box input:checked ~ .checkmark:after {display: block;}

/* Style the checkmark/indicator */
.container-check-box .checkmark:after { left: 11px; top: 6px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
/* checkbox-custom end*/


.post-mic-form .dollar-sign {
  position: absolute;
  top: 22px;
  left: 0;  
  font-size: 18px !important;
  font-weight: 600;
  z-index: 1;
}
.dollar-sign-pad-left {
  padding-left: 40px !important;
}
.dollar-sign-pad-20 {
  margin-left: 20px !important;
}



@media (max-width: 767px){

button.btn.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
  .quick-search-div {padding: 30px 0 0px 0;}

 .btn-mobile-week {display: block;}
 .days-mobile {flex-direction: column;}
 .Publish-group {display: flex; flex-direction: column; width: 100%;}
 .Publish-group .btn-draft {margin-bottom: 10px;}
 .btn-groups-steps-publish {flex-direction: column;}
 
 .nav-tabs .days-mobile li {padding: 14px 6px !important; font-size: 14px;}
 .btn-mobile-week {margin-top: 15px;}
 .btn-mobile-week .btn-blue.btn-sm {padding: 14px; width: 100%;}
 .days-mobile {width: 100%;}

 .social-media-icon li a.icon-facebook i {font-size: 14px;}
 .social-media-icon li a.icon-twitter i {font-size: 14px;}
 .social-media-icon li:last-child {margin-right: 0;}

.fest-icon-bar a span {display: none;}
.fest-icon-bar a img {height: 40px; width: 40px;}
.logo-div .logo_link img {width: 160px;}
.header-div {display: block; position: fixed;}
.top-nav1 {display: flex;align-items: center; height: 100%;}


.nav-m-bar .menu-bars{ background:url(../images/icon/menu-white.png) no-repeat !important; width:21px; height:23px; position: relative; display:inline-block; vertical-align:middle;}
.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #1E1E1E ; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
.nav-div .closebtn {display: block; position: absolute; color: #fff; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; font-weight: 300; line-height: 35px; }
.nav-div .closebtn:hover { color: #fff; }
.nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 15px 20px; }
.ullist-inline { height: auto; }

.width80{ width: 65%; }
.opacityon{ opacity: 1; }
.displayblock{ display: block; }
.nav-m-bar {order: 2;}
.fest-icon-bar {order: 1;}
.cbp-af-header-shrink {animation: none; transform: none; }
.ullist-inline li.btn-signup {border-radius: 0;}

.cbp-af-header {max-height: 70px;}
.list-view .grid-box .content-box2::before {display: none;}


.modal-heading h3 {line-height: 30px; font-size: 20px;} 

.btn-icons a {padding: 10px 10px 15px 10px}
.post-mic-heading {margin-bottom: 20px;}
.mt-0 {margin-top: 0 !important;} 
.review-details img {height: 200px;}
.post-review li span {min-width: auto; display: block;}
.post-mic-form .form-group {margin-bottom: 0 !important;}


/* .btn-draft {bottom: -20px; right: 2px; font-size: 20px;} */

/* Home page staretd */


.middle-container {margin-top: 70px;}
.banner-section {height: 100px; width: auto}
.list-view {width: 100%;}
.list-view .grid-box {width: 100%; display: flex; flex-direction: column; }
.list-view .grid-box .img-box {width: 100%;}
.list-view .grid-box .content-box {width: 100%; padding: 20px 20px 0 20px; }
.list-view .grid-box .content-box2 {width: 100%; position: relative; padding: 20px 20px 20px 20px; align-items: flex-start;display: flex;justify-content: center;flex-direction: column;}

.social-media-icon {margin-bottom: 20px;}
.social-media {margin-bottom: 20px;}
.social-media {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.Copyright {justify-content: center;}

.modal-custom .modal-content .modal-body{margin: 50px 10px 20px 10px;}
.btn-group  {margin-top: 20px; display: none;}
.btn-group-comedy {display: flex; align-items: flex-start; justify-content: flex-start; }
.btn-view-othersday {margin-left: 10px;}
.rotation-div {right: 50px; bottom: 10px; min-height: 100px;}
.pulse-icon .icon-wrap {transform: scale(1);}

.grid-section {padding: 15px 0 0 0; }

.other-days {display: flex;}
.nav-tabs li {padding: 5px; font-size: 14px;}
.nav-tabs {display: flex; flex-wrap: nowrap;}
.destop-view {display: none;}
.mobile-view {display: block;}
.postbox h2 {font-family: 'prelomedium';font-size: 17px;word-break: break-word;padding: 0 15px;line-height: 22px;}

.modal-logo img {width: 250px;}	
.postbox img {height: 100%;}
.btn-groups {margin-top: 20px;}
.btn-groups .btn {padding: 11px 30px 12px 30px; font-size: 16px; }
.post-mic-form .btn-groups .btn {font-size: 16px;}
.post-mic-form .form-group {margin-bottom: 20px !important;}


/* modal welcome */
.welcome-heading h2 {font-size: 42px;}
.welcome-content {margin:  0 0 30px 0;}
.welcome-heading {margin-bottom: 50px;}
.welcome-content p {padding: 0;}


/* thanks */
.thanks-heading p {font-size: 20px;}
.thanks-heading {margin-bottom: 50px;}
.btn-blue-light {padding: 8px 30px;}


.send-request .btn-groups .btn {display: flex; text-align: center; margin-bottom: 10px; justify-content: center; width: 100%;}
.post-mic-form .text-area {margin-top: 0;}
/* contact form modal */

.modal-custom.modal-contact .modal-content .modal-body {margin: 0px 20px 20px 20px; }


.ullist-inline li.btn-signup.user-active .dropdown-profile:before{display: none; }
.dropdown-profile.dropdown-menu.show { position: static !important; transform: none !important;}
.ullist-inline li.btn-signup.user-active a {justify-content: flex-start;}


.contact-detail-box .contact-profile {padding: 15px;}
.contact-detail-box .contact-text { padding: 20px 20px 15px 80px;}
.contact-profile img {width: 50px; height: 50px;}

.contact-text h3 {font-size: 20px; line-height: 26px}
.contact-text p {font-size: 16px; line-height: 20px;}
.contact-link {font-size: 14px;}
.footer-contact p, .footer-contact span {font-size: 14px;}

.tabs-header .nav-tabs li a {padding: 15px 10px; font-size: 16px; line-height: 24px;}
.input-group .has-float-label:not(:last-child), .input-group .has-float-label:not(:last-child) .form-control {border-right: 1px solid rgba(151,151,151, .2); margin-bottom: 10px; border-radius: 4px;}
.input-group>.input-group-append>.btn {border-radius: 4px;}

.profile-photo {position: absolute;}
.profile-content {padding: 60px 10px 15px 10px;}
.contact-info ul li a {font-size: 16px;}
.contact-info ul li a img {width: 30px;}

.profile-photo {height: 50px; width: 50px; margin: 0 20px;}
.Interestedto-content {padding: 20px;}

.dropdown-menu.dropdown-profile {display: block; position: static !important;margin: 15px 0 10px 0;}
.profile-content h3 { font-size: 22px; line-height: 32px;}
.profile-content h4 {font-size: 18px; line-height: 24px;}

.tabs-header .nav-tabs li {width: auto;}
.tabs-header .nav-tabs li a {font-size: 14px;}
.featured-label {left: 3px;}


.post-content h3 {font-size: 22px; line-height: 36px; margin-bottom: 20px;}
.post-content h4 {font-size: 20px; padding-left: 30px; line-height: 30px; margin-bottom: 10px;}
.post-content h4 i {font-size: 20px; line-height: 30px;}
.post-content p {font-size: 20px; line-height: 30px;}
.post-content h4 i img {width: 20px;}

.post-about h4 {font-size: 20px;line-height: 30px; margin-bottom: 5px;}
.post-about p {font-size: 20px; line-height: 30px;}

.btn-blue-light {font-size: 20px; line-height: 30px;}

.ullist-inline li.btn-signup {
  padding: 0;
  border-radius: 4px !important;
  width: auto;
  margin-left: 20px;
}
.ullist-inline li.btn-signup.user-active {
  margin-left: 0;
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
  max-height: 220px;
  min-height: 220px;
  overflow: hidden;
}





}


.close {float: right;font-size: 50px;font-weight: 400 !important;line-height: 25px;color: #000;text-shadow: 0 1px 0 #fff;opacity: 1;}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .carousel .slide img {
      width: 100%;
      vertical-align: top;
      border: 0;
      max-height: 220px;
      min-height: 220px;
      overflow: hidden;
    }
    .Publish-group {display: flex;}
    button.btn.mobile {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: row;
   }
 

  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
		.footer-content {
    margin-bottom: 40px;
}
.list-view {width: 100%;}
.list-view .grid-box {width: 100%; display: flex; flex-direction: row; }
.list-view .grid-box .img-box {width: 30%; }
.list-view .grid-box .content-box {width: 35%; padding: 20px 20px 20px 40px; }
.list-view .grid-box .content-box2 {width: 35%; padding: 20px 20px 20px 40px; align-items: flex-start;display: flex;justify-content: center;flex-direction: column;}
.list-view .grid-box .content-box2::before {height: 70%;}

}
  
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) {
	
.fest-icon-bar a span {display: none;}
.fest-icon-bar a img {height: 40px; width: 40px;}
.logo-div .logo_link img {width: 175px;}
.header-div {display: block; position: fixed;}
.top-nav1 {display: flex;align-items: center; height: 100%;}

/* .nav-m-bar{ position: absolute; top: 30px; right: 20px; } */

.nav-m-bar .menu-bars{ background:url(../images/icon/menu-white.png) no-repeat !important; width:21px; height:23px; position: relative; display:inline-block; vertical-align:middle;}
.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #1E1E1E ; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
.nav-div .closebtn {display: block; position: absolute; color: #fff; background: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; font-weight: 300; line-height: 35px; }
.nav-div .closebtn:hover { color: #fff; }
.nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 15px 20px; }
.ullist-inline { height: auto; }

.ullist-inline li.btn-signup {padding: 10px 23px;border-radius: 4px !important;width: auto;margin-left: 20px;}
.nav-tabs li {padding: 20px 25px;}

.width80{ width: 38%; }
.opacityon{ opacity: 1; }
.displayblock{ display: block; }

.nav-m-bar {order: 2;}
.fest-icon-bar {order: 1;}
.cbp-af-header-shrink {animation: none; transform: none; }
.ullist-inline li.btn-signup {border-radius: 0;}

.cbp-af-header {max-height: 80px;}
/* home page */
.middle-container {margin-top: 80px;}
.banner-section {height: 160px;}

.list-view {width: 100%;}
.list-view .grid-box {width: 100%; display: flex; flex-direction: row; }
.list-view .grid-box .img-box {width: 40%; }
.list-view .grid-box .content-box {width: 30%; padding: 20px 20px 20px 40px; }
.list-view .grid-box .content-box2 {width: 30%; padding: 20px 20px 20px 40px; align-items: flex-start;display: flex;justify-content: center;flex-direction: column;}
.list-view .grid-box .content-box2::before {height: 70%;}

.modal-dialog-1000 {max-width: 740px;}
.modal-custom .modal-content .modal-body{margin: 50px 30px 30px 20px;}



.btn-group {justify-content: space-between; align-items: center; margin-top: 10px;}
.btn-group-comedy {display: flex; align-items: flex-start; justify-content: flex-start; }
.close {float: right;font-size: 50px;font-weight: 500;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;opacity: 1;}


.welcome-heading h2 {font-size: 72px;}
.welcome-content {margin:  0 50px 30px 50px;}
.welcome-heading {margin-bottom: 50px;}
.welcome-content p {padding: 0 50px;}

.modal-custom.modal-contact .modal-content .modal-body {margin: 0px 80px 40px 80px}
.dropdown-menu.dropdown-profile {display: block; position: static !important; margin: 15px 0 10px 0;}
.ullist-inline li.btn-signup.user-active .dropdown-profile:before {display: none;}
.ullist-inline li.btn-signup.user-active a { justify-content: flex-start;}

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

.nav-tabs {display: flex; flex-wrap: nowrap;}
.nav-tabs li {padding: 20px 15px; font-size: 18px;}
.dropdown-profile.dropdown-menu.show {  margin-right: 0px;}


}


@media (max-width: 320px){
.nav-tabs li {
	font-size: 11px;
}	
.btn-modal {
	font-size: 16px !important;
}

.tabs-header .nav-tabs li {
  width: 25%;
}

.width80 {
  width: 75%;
}

.nav-tabs .days-mobile li {
  padding: 14px 6px 12px 6px !important;
  font-size: 12px;
}

}
 
@media (min-width: 1230px)
{
.container {max-width: 1230px;}
}

@media (min-width: 1200px){
	.container { max-width: 1200px;}
}

@media only screen and (min-width: 1280px)
{
 .container {max-width: 1280px;}
}	

@media only screen and (min-width: 1330px)
{
 .container {max-width: 1330px !important;}
}	

.tabs-weeks {
  display: block;
  min-height: 700px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  text-transform: uppercase; }

.inputfile + label {
  max-width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-align: center; }

.inputfile + label figure {
  width: 100%;
  height: 130px;
  /* border-radius: 50%; */
  background-color: transparent;
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
  vertical-align: bottom;

}

.inputfile + label figure img {
  width: 100%;
  height: 100%;
  overflow: hidden;
 }

 .file-button {padding: 12px 15px; border-radius: 4px; display: block; background-color: rgb(154 ,154 ,154, 10%) !important; color: #9A9A9A !important}
 .file-button:hover {    background-color: rgba(154 ,154 ,154, 20%) !important;}


 
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown, .cbp-af-header-shrink {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.ads-img-div {
  display: flex;
  justify-content: center;
}

.ads-img {
  width: 90%;
  height: 500px;
}
.min-hight {
  padding: 50px 0;
}

.table-th {
  font-size: 16px;
  text-transform: uppercase;
}

.table-td-month {
  font-size: 16px;
  color: red;
  background-color: white;
}
.add-comedy-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-group-comedy {display: flex; align-items: flex-end; justify-content: flex-end; }

.__PrivateStripeElement {
  top: 15px;
  left: 10px;
  font-family: "prelomedium";
  letter-spacing: 1px;
}

.payment-section .post-mic-form .form-group.form-group-name label > span {
  font-size: 14px !important;
  color: #1E1E1E !important;
  opacity: 1 !important;
  font-family: "prelomedium";
  width: auto;
  letter-spacing: 0px !important;
  top: -.5em !important;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
}

.payment-section .post-mic-form .form-group.form-group-name input::-webkit-input-placeholder {  font-size: 16px; color: #424770 !important; letter-spacing: 0.025em; }
.payment-section .post-mic-form .form-group.form-group-name input::-moz-placeholder {  font-size: 16px; color: #424770 !important; letter-spacing: 0.025em; }
.payment-section .post-mic-form .form-group.form-group-name input:-ms-input-placeholder  {  font-size: 16px; color: #424770 !important; letter-spacing: 0.025em; }
.payment-section .post-mic-form .form-group.form-group-name input:-moz-placeholder {  font-size: 16px; color: #424770 !important; letter-spacing: 0.025em; }
/* .payment-section .post-mic-form .form-group.form-group-name .form-control:placeholder-shown:not(:focus)+* { opacity: 1 !important; top: 0 !important; } */