/* @extend display-flex; */
display-flex, .select-icon, .select-icon i, .form-radio input + label figure, .form-flex, .steps ul, .actions ul li a, .form-row {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .steps ul, .actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* poppins-300 - latin */t
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v5-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v5-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
  /* Legacy iOS */ }
a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

.clear {
  clear: both; }



.steps h3 {
  font-size: 18px;
  font-weight: bold;
  color: #999999;
  cursor: pointer; }

body {
  font-size: 14px;
  line-height: 1.6;
  color: #222;
  font-weight: 400;
  font-family: 'Poppins';
  margin: 0px;
  background: #8be7ac; }




.signup-form {
  padding: 30px 0px 52px 0px;
  position: relative; }

input, select {
  box-sizing: border-box;
  background: transparent;
  border: none;
  font-size: 14px;
  padding: 15px 25px;
  border: 1px solid #ebebeb;
  font-family: 'Poppins';
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }
  input:focus, select:focus {
    border: 1px solid #1ed760; }
  input::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder, select::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder, select:-moz-placeholder {
    color: #999; }

select > option {
  color: #999999; }

select {
  position: relative;
  background: 0 0;
  z-index: 10;
  cursor: pointer;
  color: #999; }

.select-icon {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20px;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center; }
  .select-icon i {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    width: 70px;
    height: 40px;
    font-size: 30px;
    color: #999; }

input, label, select {
  width: 100%;
  display: block; }

fieldset {
  border: none;
  margin: 0px;
  padding: 0px; }


.form-radio {
  margin-top: -25px;
  width: 100%; }
  .form-radio input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px; }
  .form-radio input + label {
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: border-color .15s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
    .form-radio input + label figure {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      border: 2px solid #222;
      align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center;
      -o-align-items: center;
      -ms-align-items: center;
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center; }
      .form-radio input + label figure img {
        -webkit-filter: invert(30%) grayscale(100%) brightness(70%) contrast(4);
        filter: invert(30%) grayscale(100%) brightness(70%) contrast(4); }
    .form-radio input + label span {
      font-weight: bold; }
  .form-radio input:checked + label {
    z-index: 1; }
    .form-radio input:checked + label figure {
      border: 2px solid #1ed760; }
      .form-radio input:checked + label figure img {
        -webkit-filter: none;
        filter: none; }
    .form-radio input:checked + label span {
      color: #1ed760; }
  .form-radio input:focus + label {
    outline: none; }
  .form-radio input:hover {
    background-color: #1ed760;
    border-color: #1ed760; }

.form-flex {
  justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-justify-content: space-around;
  padding: 0 140px; }

.content {
  height: auto;
  min-height: 300px;
  /* max-height: 450px;  */

  width: 100%;
  /* padding-right: 20px; */
  margin-bottom: 30px;
 }


 .content::-webkit-scrollbar {
  width: 8px;
  border-radius: 100px;
}

/* Track */
.content::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 100px;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 100px;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  .content h3 {
    display: none; }

.steps ul {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between; }
  .steps ul li {
    width: 330px; }
    .steps ul li a {
      text-decoration: none;
      display: block;
      background: #f8f8f8;
      text-align: center;
      padding: 8px 0; }
    .steps ul li:hover a {
      background: #1ed760; }
      .steps ul li:hover a h3 {
        color: #fff; }
  .steps ul .current a {
    background: #1ed760; }
    .steps ul .current a h3 {
      color: #fff; }


  .actions ul {
    display: inline-block;
    width: 100%; }
    .actions ul .disabled {
      display: none; }
    .actions ul li:first-child {
      float: left; }
      .actions ul li:first-child a {
        background: transparent;
        color: #999999;
        border: 1px solid #ebebeb; }
    .actions ul li:nth-child(2), .actions ul li:last-child {
      float: right; }
    .actions ul li a {
      width: 140px;
      height: 50px;
      color: #fff;
      background: #1ed760;
      align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center;
      -o-align-items: center;
      -ms-align-items: center;
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center;
      text-decoration: none;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  text-transform: uppercase; }

.inputfile + label {
  max-width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-align: center; }

.inputfile + label figure {
  width: 100%;
  height: 130px;
  /* border-radius: 50%; */
  background-color: transparent;
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
  vertical-align: bottom;
}

.inputfile + label figure img {
  width: 100%;
  height: 100%;
 }

 .file-button {padding: 12px 15px; border-radius: 4px; display: block; background-color: rgb(154 ,154 ,154, 10%) !important; color: #9A9A9A !important}
 .file-button:hover {    background-color: rgba(154 ,154 ,154, 20%) !important;}


.form-row {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.form-group-flex {
  width: 510px; }

.form-group {
  padding-bottom: 20px;
  position: relative; }

.form-input {
  width: 50%;
  padding: 0 10px;
  padding-bottom: 20px;
  position: relative; }

.form-input-flex {
  margin: 0 -10px; }

input.error {
  border: 1px solid #f63726;
  margin-bottom: 20px; }

label.error {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 0; 
  padding: 5px 0;
  display: block;
  color: #E63946;}

.label-radio {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-bottom: 70px; }

@media screen and (max-width: 992px) {
  /* .container {
    width: calc(100% - 40px);
    max-width: 100%; } */

  .form-group-flex {
    width: 310px; } }
@media screen and (max-width: 768px) {
  .steps ul, .form-row {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .steps ul li {
    width: 100%; }

 
  .form-file {
    margin-bottom: 20px; }

  .form-flex {
    padding: 0 40px; }

  .form-input, .form-group-flex {
    width: 100%; } }
@media screen and (max-width: 480px) {


  .content {height: auto;
  max-height: auto;
min-height: auto}

.actions ul li a {font-size: 20px !important;}


.inputfile + label figure {height: 100%; width: 100%;}
  }

/*# sourceMappingURL=style.css.map */

/* added by aakhil */

.steps {display: none !important;}

.actions ul li a {    transition: 0.3s ease-in-out;
  background-image: linear-gradient(to right bottom, #0374e2, #0083e6, #0091e6, #009de5, #03a9e2);
  color: #ffffff !important;
  padding: 11px 46px 12px 46px;
  margin-left: 5px;
  font-size: 26px;
  font-family: 'preloMedium';
}
.actions ul li a:hover {background-image: linear-gradient(to right bottom, #0361bd, #006fc2, #007bc4, #0087c4, #0592c3); color: #ffffff !important;}

.actions ul li:first-child a {background-color: transparent !important; border: 0 !important; color: #0091e6 !important; padding-left: 0 !important;}
.actions ul li:first-child a:hover {background-color: transparent !important; color: #0083e6 !important; background-image: none !important;} 